.card{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
}
.alert{
    display: flex;
    justify-content: center;
    font-size: medium;
    color: blue;
}
.displayName-h4{
    color: rgb(96, 96, 165);
}
.status-h5{
    color: rgb(49, 49, 153);
}