.login{
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr;
    padding: 30px;
    gap: 15px;
    border: 1px solid black;
    width: 230px;
    margin-left: 40%;
    background-color: rgb(215, 237, 237);
}

input{
    border-radius: 10px;
    background-color: aliceblue;
}
.button-login{
    padding: 20px;
    background-color: aliceblue;
}