* {
    margin: 0;
    padding: 0;
}

.add-alert {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    align-items: center;
    padding: 10px;
    gap: 15px;
    width: 300px;
    margin-left: 38%;
    background-color: darkgray;
}

.input {
    padding: 10px;
    background-color: antiquewhite;
}

select {
    padding: 10px;
    display: inline;
}

.button {
    padding: 20px;
}

.displayName label {
    color: rgb(62, 50, 50);
    background-color: darkgray;
}

.description label {
    color: rgb(62, 50, 50);
    background-color: darkgray;
}

.priority label{
    color: rgb(62, 50, 50);
    background-color: darkgray;
}

.arena label{
    color: rgb(62, 50, 50);
    background-color: darkgray;
}

.status label{
    color: rgb(62, 50, 50);
    background-color: darkgray;
}

.lon label{
    color: rgb(62, 50, 50);
    background-color: darkgray;
}

.lat label{
    color: rgb(62, 50, 50);
    background-color: darkgray;
}